---
import BaseLayout from "../layouts/BaseLayout.astro";
import settings from "../data/settings.json";
import MemberProfile from "../components/MemberProfile.astro";

import { getCollection } from "astro:content";

const members = await getCollection("members");
---

<BaseLayout title="About | amii">
    <section class="section container" style="max-width: 800px;">
        <h1
            class="font-heading text-center"
            style="font-size: 3rem; margin-bottom: 2rem;"
        >
            We Are amii
        </h1>

        <div
            class="font-body text-center"
            style="font-size: 1.2rem; line-height: 1.6; margin-bottom: 4rem;"
        >
            <p>
                amii is a Nigerian girl group creating pop music rooted in
                honesty, growth, and shared experience.
            </p>
        </div>

        <div class="grid cols-3">
            {members.map((member) => <MemberProfile member={member} />)}
        </div>
    </section>
</BaseLayout>
